body{
    background: green;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 150%;
    color: red;
    font-family: Georgia, 'Times New Roman', 'Times New Roman', Times
}

header{
    background: black;
}
    h2{
         font- 24px;
    }

    .container{
        width: 1024px;
        margin: 0 auto;
    }

    #bio-image, #main-bio,#contact-info{
        float:l eft;
    }

    main-bio{
        width: 70%;
    }

    #bio-image{
        width:  200px;
        height: 200px;
        margin: -right: 20px;
    }

    #contact-info {
        width: 30%;
    }

